<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Create
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    <div id="wrapper" style="display: flex; justify-content: space-around; padding: 2rem">
        <main>
            <h1 style="text-align: center;">Add a New Show</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form style="margin-top: 2rem;" action="/shows/create" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="network">Network</label>
                        <input name="network" type="text" class="form-control" id="network">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="date">Realease Date</label>
                        <input name="date" type="date" class="form-control" id="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea name="desc" class="form-control" id="desc" rows="3"></textarea>
                </div>
                <button style="margin-top: 1rem;" type="submit" class="btn btn-primary">Create</button>
            </form>
        </main>
        <nav>
            <a href="/shows">Go Back</a>
        </nav>



    </div>
    {% endblock content %}
</body>

</html>